@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

body {
  font-family: "Comfortaa", "Helvetica Neue", sans-serif;
  margin: 0;
}

a,
.link {
  text-decoration: none;
  font-weight: 600;
  color: #5b238f;
}
.pub-img {
  width: 100%;
}

.main-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
}
.logo-img {
  width: 667px;
}
.main-layout {
  display: flex;
  padding-top: 180px;
}
.left-menu {
  margin-top: 0rem;
  min-width: 15%;
  width: 15%; /* ou 100px */
  position: fixed;
}
.left-menu li {
  list-style-type: none;
  width: 100%;
  margin-bottom: 3rem;
}
@media screen and (max-width: 919px) {
  .left-menu {
    display: none;
    min-width: 0;
    max-width: 0;
  }
}
.main-content {
  flex-grow: 1;
  margin: 2rem;
  margin-right: 4rem;
  margin-left: 18%;
  /*  padding-left: 25%; */
}
#iframeee {
  text-align: center;
}

