
body {
    background: url(/img/montage.jpg);
    background-size: cover;
  
  }
  .main-content {
      padding:5rem;
      padding-top:8rem;
      padding-bottom:8rem;
  }
  
@media screen and (max-width: 919px) {

  .main-content {
    padding:0;
    padding-top:8rem;
    padding-bottom:8rem;
}
}
  
h2 {
  font-size: 1.2rem;
  margin: 3rem;
  margin-top: 4rem;
  text-align: center;
}

.img-container {
  text-align: center;
  display: blocks;
}
.img-container img {
 
}

p {
  margin-top:2rem;
  margin-bottom: 2rem;

}