body {
  background: url(/img/reseau_fibre.jpg);
  background-size: cover;
}
.main-content {
  padding: 5rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 919px) {
  .main-content {
    padding: 0;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.img-container {
  text-align: center;
  display: blocks;
}
.img-container img {
  box-shadow: 1px 3px 10px rgb(0 0 0 / 40%);
}

ul {
  list-style-type: disc;
  margin-left: 3rem;
}