
body {
    background: #d3cce3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d3cce3, #e9e4f0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d3cce3, #e9e4f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  .main-layout {
    margin-left: 5%;
    margin-right: 5%;
    
}
  .main-content {
      padding:5rem;
      padding-top:8rem;
      padding-bottom:8rem;
  }
  
@media screen and (max-width: 919px) {

  .main-content {
    padding:0;
    padding-top:8rem;
    padding-bottom:8rem;
}
}

ul {
  margin:1rem;
}
  

h2 {
  margin: 2rem;
}

.columns {
  display: flex;

}

.column {
  
}